* {
    padding: 0;
    margin: 0;
}

html {
    overflow: hidden;
}

.contener {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    
}

.gauche {
    flex-direction: column;
}

.droite {
    flex-direction: column;
}

.cv {
    height: 46vh;
    width: 50vh;
    border: 2vh solid white;
    background-color: red;
    color : gold;
    font-family: Edwardian Script ITC;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 750;
    cursor: pointer;
    text-decoration: none;
}

.cv label{
    cursor: pointer;
}

.certif {
    height: 46vh;
    width: 50vh;
    border: 2vh solid white;
    background-color: gold;
    color : red;
    font-family: Edwardian Script ITC;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 750;
    cursor: pointer;
    text-decoration: none;
}

.certif label {
    cursor: pointer;
}

.description {
    height: vh;
	width: 100vh;
    border: 2vh solid white;
    background-color: cornflowerblue;
    color : white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items : flex-end;
    flex-direction: column;
}

.nom {
    font-family: Edwardian Script ITC;
    font-size: 90px;
    font-weight: 750;
}
.picture {
    border-radius: 50%;
    width: 50%;
    margin-bottom: 50px;
}

.projet {
    height: 46vh;
    width: 50vh;
    border: 2vh solid white;
    background-color: gold;
    color : red;
    font-family: Edwardian Script ITC;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 750;
    cursor: pointer;
    text-decoration: none;
}

.projet label {
    cursor: pointer;
}

.contact {
    height: 46vh;
    width: 50vh;
    border: 2vh solid white;
    background-color: red;
    color : gold;
    font-family: Edwardian Script ITC;
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 750;
    cursor: pointer;
    text-decoration: none
}

.contact label {
    cursor: pointer;
}