html { 
    background-color: cornflowerblue;
    text-align: center;
    font-size: 25px;
    color : white;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
}

a{
    text-decoration: none;  
}

a.retour {
    color: black;
}

.titre {
    width : 50%;
    border: 4mm ridge red;
    background-color: gold;
    border-radius : 100px;
    margin: auto;
    padding : 15px;
    font-family: Edwardian Script ITC;
    font-size: 100px;
    color: red;
}

.sous-partie {
    font-family: Edwardian Script ITC;
    font-size: 80px;
    color: gold;
    border: 2mm ridge gold;
    background-color: red;
    border-radius: 30%;
    width: 25%;
    margin: auto;
    padding : 10px;
}

hr {
    border: none;
    border-top: 5px solid red;
    color: gold;
    overflow: visible;
    text-align: center;
    width: 80%;

}

hr:after {
    background: cornflowerblue;
    content: '§';
    position: relative;
    top : -18px;
}

.rang {
    display: flex;
    justify-content: center;
    text-align: center;
}

a {
    color: cornflowerblue;
}
.projet {
    width: 30%;
    background-color: white;
    color: gold;
    border: 3px solid gold;
    margin: 1%;
}

.projets{
    width: 30%;
    background-color: white;
    color: red;
    border: 3px solid red;
    margin: 1%;
}